.jumbotron {
    background-image: url("/assets/images/burgers2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

#title {
    font-family: 'Corben', cursive;
    color: rgb(255, 151, 32);
}

#newburger {
    border-radius: 5px;
}

#sub-title {
    font-family: 'Corben', cursive;
    color: rgb(255, 197, 111);
    font-size: 30px;
}

#heading {
    color: white;
    font-family: 'Corben', cursive;
    font-size: 20px;

}

#lefthead {
    background-color: #4da14d;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: rgb(214, 8, 8);
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#trashbutton {
    background-color: rgb(214, 8, 8);
}

#eatbutton {
    background-color: rgb(255, 151, 32);
}

#addburger {
    background-color: #4da14d;
}