.jumbotron {
    background-image: url("/assets/images/burgers2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

#title {
    /* font-family: 'Zilla Slab Highlight', cursive; */
    font-family: 'Corben', cursive;
    color: rgb(255, 151, 32);
}

#newburger {
    border-radius: 5px;
}

#sub-title {
    /* font-family: 'Zilla Slab Highlight', cursive; */
    font-family: 'Corben', cursive;
    color: rgb(255, 197, 111);
    font-size: 30px;
}

#heading {
    color: white;
    /* font-family: 'Zilla Slab Highlight', cursive; */
    font-family: 'Corben', cursive;
    font-size: 20px;

}

#lefthead {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: rgb(214, 14, 14);
    color: white;
    text-align: center;
    font-size: 1.2em;
}